[Unit]
Description=Peacock

[Service]
# Adjust these two to wherever this is (%h here is a shortcut to your home directory)
WorkingDirectory=%h/linux-steam-setup
ExecStart=%h/linux-steam-setup/start.sh

[Install]
WantedBy=default.target
